.rectangleblue{
  width:80%;
	height:150px;
	background:#359CF1;
}
.rectanglepurple{
  width:80%;
	height:150px;
	background:#B835F1;
}
.rectanglepink{
  width:80%;
	height:150px;
	background:#EE1890;
}
